/* Flamenco font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

/* the colors I'm going to use */
:root {
    --text-gradiant: -webkit-linear-gradient(#cbf33d,#b15db5);
    --purple-pink: #b15db5;
}

/* Universal Selector */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Flamenco', cursive , cambria, sans-serif;
}

body {
    background-image: url(images/bodyBackground.jpg);
    color: whitesmoke;
}

 li {
    list-style: none;
 }

 a {
    text-decoration: none;
 }

 .container {
    padding: 1px 1%;
}

h1 {
    margin-top: 100px;
    font-size: 60px;
 }

 p {
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
 }

span {
    background: var(--text-gradiant);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/* Home Section */
#Home {
    width: 100%;
    height: 100vh; /* Full height of the page */
    background-size: cover;
    background-position: center;
}

/* Nav area */
 nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Makes it above other content */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    scroll-behavior: smooth;
 }

 nav img {
    width: 60px;
    height: auto;
 }

 nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
 }

 nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    position: relative;
 }

 nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--purple-pink);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
 }

 nav ul li a:hover::after {
    width: 100%; /* the width of the underline that will appear upon the hover*/
 }

 .not-nav-home {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
 }

 .left-home {
    flex: 1;
    width: 50%;
}

 .right-home {
    flex: 1;
    width: 50%;
    border-radius: 20%;
    text-align: right;
    overflow: visible;
    margin-top: 200px;
 }

 .right-home video {
    width: 100%;
    box-shadow: 0px 0px 10px var(--purple-pink);
 }

 .left-home img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    width: 40%;
 }

/* About Section */
#About .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-about {
    flex: 1;
    width: 50%;
}

.right-about-gallery {
    flex: 1;
    width: 50%;
}


.left-about table {
    margin-top: 40px;
    width: 90%;
    height: 200px;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--purple-pink);
}

.table-head {
    margin-top: 20px;
    font-size: 60px;
    box-shadow: 0px 0px 10px var(--purple-pink);
}

.table-title {
    text-align: left;
    margin-top: 20px;
    font-size: 30px;
    box-shadow: 0px 0px 10px var(--purple-pink);
}

.right-about td {
    text-align: left;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 30px;
    box-shadow: 0px 0px 10px var(--purple-pink);
}

.right-gallery {
    display: grid;
    margin-top: 90px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 0.5rem;
    box-shadow: 0px 0px 10px;
    margin-bottom: 0;
}


.gallery-image, .gallery-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery-objects--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-objects--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-objects--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery-objects--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gallery-objects--5 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 8;
}


